# Ignore all
*

#Except...
!.gitignore

!.bash_aliases
!.bash_logout
!.bashrc

!.inputrc

!.tmux.conf

!.vimrc

!.always_forget.txt

!.articles_for_pi.txt

!.watchdog.conf.copy

!.cmdline.txt.copy

!.server.copy

!.rc.local.copy
